extensions:
    autocompleteFormControl: Wame\AutocompleteFormControl\FormCategory\DI\AutocompleteFormExtension

webloader:
    js:
        admin:
            files:
                - %appDir%/../vendor/Wame/AutocompleteFormControl/assets/js.js

        default:
            files:
                - %appDir%/../vendor/Wame/AutocompleteFormControl/assets/js.js